@media screen and (max-width: 425px) {
  body {
    grid-template-rows: 15% 85%;
    grid-template-columns: 5% 1fr 5%;
  }

  .inner-content {
    width: 80vw;
  }

  .card-box {
    width: 80vw;
    
  }
}