@media screen and (max-width: 400px) {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
body -> grid  -  nav, contenido dinámico
root -> flex  -  solo se usa para la página de inicio 
*/

html {
  font-size: 62.5%; /*16px = 100%, 10px = 62.5%  - 1rem = 10px*/
  color: #272828;
  font-family: "Oswald", sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-color: #f7f0e9;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 30% 70%;
}

#root {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

img-box {
  width: 50vw;
}

img-box-image {
  width: 100%;
}

.alohomora-button {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #272828;
  background-color: #dfa63a;
  border-radius: 6px;
}

.tituloinicio {
  font-family: "Oswald", sans-serif;
  color: #272828;
}

/*PANTALLA GRYFFINDOR, HUFFLEPUFF, SLYTHERIN, RAVENCLAW (solo hay que cambiar color de border de título*/

.dynamic-content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dynamic-content > header {
  height: 80vh;
  /* border: 2px solid darkgreen; */
  display: flex;
  flex-direction: column-reverse;
}

.small-logo-box {
  align-self: center;
  width: 20vw;
  height: 5vh;
}

.small-logo-box > img {
  width: 100%;
}

/*CARDS*/

.inner-content {
  width: 80vw;
  height: 60vh;
  /* border: 2px solid darkred; */
  margin: 10vh auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-box {
  width: 23vw;
  height: 130%;
  background-color: #272828;
  margin: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  padding-top: 2rem;
}

.card-box > img {
  max-width: 80%;
  height: 70%;
}

ul {
  list-style: none;
  margin-top: 0.5rem;
  max-height: 100%;
  font-size: 1.5rem;
}

li {
  margin: 0.2rem;
}

.section-title {
  font-family: "Oswald", sans-serif;
  border-top: 5px solid;
  border-bottom: 5px solid;
  text-align: center;
  font-size: 3rem;
}

/*Colores de borde superior e inferior de título según sección*/
.gryffindor-color {
  border-top-color: darkred;
  border-bottom-color: darkred;
}

.hufflepuff-color {
  border-top-color: yellow;
  border-bottom-color: yellow;
}

.slytherin-color {
  border-top-color: darkgreen;
  border-bottom-color: darkgreen;
}

.ravenclaw-color {
  border-top-color: darkblue;
  border-bottom-color: darkblue;
}

/*Código Menú nuevo*/

nav {
  width: 150px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin: 170xp auto;
}

.item label {
  display: block;
  padding: 10xp;
  background-color: #434343;
  font-size: 25px;
  cursor: pointer;
  color: white;
  border-bottom: solid 2px #f7f0e9;
}

.item label:hover {
  background-color: rgb(241, 186, 83);
}

.item ul {
  width: 100%;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: all 1s linear;
}

.item input {
  display: none;
}

.item ul li a {
  width: 100;
  height: 30px;
  padding: 10px;
  display: block;
  text-decoration: none;
  background-color: #f7f0e9;
  color: #434343;
  border-bottom: solid 2px #dfa63a;
}

.item ul li a:hover {
  background-color: rgb(241, 186, 83);
}

.item input:checked ~ ul {
  height: auto;
  max-height: 400px;
  transform: all;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.7s;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: run-in;
  }
}

.grilla {
  display: center;
  text-align: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
}
